<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reone.tbufferlib">
    <!-- 允许应用可以访问网络。 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <service android:name="com.reone.mrthumb.process.MrthumbService" />
    </application>
</manifest>
